<div class="loader animate-spin border-4 border-darkbg3 rounded-full border-t-4 border-t-accent w-10 h-10 fixed top-1/2 left-1/2 -mt-5 -ml-5"></div>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
      // Hide the loader
      var loader = document.querySelector('.loader');
      if (loader)
        loader.classList.add('hidden');
    });
</script>